html, body {
  background-color: $neutral_bg_color;
  padding: 0;
  margin: 0;
}

.app {
  height: 100vh;
  padding: $spacing_large;
  transition: background-color 0.3s ease;

  &.X {
    background:rgba($primary_color, 0.8);
  }
  &.O {
    background:rgba($secondary_color, 0.5);
  }
}

.game-container {
  display: flex;
  margin: 0 auto;
  width: 600px;
}

.board-container {
  flex: 1;
  margin-right: $spacing_standard;
}

.game-details-container {
  width: 200px;
}
