// Color definitions
$persian_green: #009688;
$cerulean_blue: #03A9F4;
$mine_shaft_gray: #323232;
$gallery_gray: #ECECEC;
$white: #FFFFFF;

// Theme colors
$primary_color: $persian_green;
$secondary_color: $cerulean_blue;

// Text colors
$text_color: $mine_shaft_gray;
$text_color_light: $gallery_gray;

// Background colors
$neutral_bg_color: $gallery_gray;
$container_bg_color: $white;
